<%- partial('_partial/article', {post: page, index: false}) %>
<div style="min-height:150px">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsiveAd -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7026363262140448"
         data-ad-slot="9824934150"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
